<!DOCTYPE HTML>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>judge</title>
</head>
<body>
	<div>
       <p>USERID: <%= USERID %></p>
       <p>CODE</p>
       <textarea cols="20" rows="20"><%- CODE %></textarea>
       <p>LANGUAGE: <%= LANG %></p>
    </div>
    <div>
        <p>SCORE: <%= SCORE %></p>
        <table>
            <tbody>
                <tr>
                    <td>PROBLEM</td>
                    <td>RESULT</td>
                </tr>
                <% for( let i = 0; i < JUDGERES['result'].length; i++ ) { %>
                <tr>
                    <td><%= i + 1 %></td>
                    <td><%= JUDGERES['result'][i]['msg'] %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>