<!DOCTYPE HTML>
<html lang="ko">
<head>
    <%- include ('../layout/head') %>
    <link rel="stylesheet" type="text/css" href="/public/css/judge.css">
	<title>judge</title>
</head>
<body>
	<div class="papyrus">
        <%- include('../layout/nav') %>
        <div class="body col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="row">
                <label>코드</label>
                <textarea rows="15" readonly class="form-control"><%- CODE %></textarea>
            </div>
            <div class="row">
                <label>점수: <%= SCORE %></label>
            </div>
            <div class="row">
                <label>결과: </label>
                <div class="result-table">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <td>No</td>
                                <td>msg</td>
                                <td>memory(KB)</td>
                                <td>time(ms)</td>
                            </tr>
                            <% for( let i = 0; i < JUDGERES['result'].length; i++ ) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td><%= JUDGERES['result'][i]['msg'] %></td>
                                <td><%= MEMORY[i] %></td>
                                <td><%= TIME[i] %></td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <label>컴파일 메시지:</label>
                <textarea rows="15" readonly class="form-control"><%= COMPILEMSG %>></textarea>
            </div>
        </div>
        <%- include('../layout/footer') %>
    </div>
</body>
</html>